<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="../static/" th:href="@{/}">
    <link rel="icon" href="img/favicon.ico">
    <title>Bookstore</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" href="fonts/ionicons.min.css" th:href="@{fonts/ionicons.min.css}">
    <!--<link rel="stylesheet" href="css/customized/signin.css" th:href="@{css/signin.css}">-->
</head>

<body>

<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand ml-4" href="#">
        <span data-feather="book"></span>
        Bookstore
    </a>
</nav>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!--<script src="js/customized/index.js"></script>-->
</body>
</html>