<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookstore</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="css/Login-Form-Dark.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="login-dark">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="text" id="name" required="" placeholder="Name"></div>
            <div class="form-group"><input class="form-control" type="password" id="password" required="" placeholder="Password"></div>
            <div class="form-group" id="login">
                <button id="loginButoon" class="btn btn-primary btn-block" type="submit">Log In</button>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script >
                <script>
                    $(document).ready(function() {
                        $("button").click(function() {
                            var account = {
                                custName : $("#name").val(),
                                custPassword : $("#password").val()
                            };
                            var requestJSON = JSON.stringify(account); $.ajax({
                                type : "POST",
                                url : "http://localhost:8080/customers/login", headers : {
                                    "Content-Type" : "application/json"
                                },
                                data : requestJSON,
                                success : function(data) {
                                    alert(data);
                                },
                                error : function(data) {
                                }
                            });
                        });
                    });
                </script>
            </div>
            <a href="#" class="forgot">Forgot your email or password?</a></form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>