<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<title>bookstore</title>-->
    <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{bootstrap/css/bootstrap.min.css}">-->
    <!--<link rel="stylesheet" href="../static/fonts/ionicons.min.css" th:href="@{fonts/ionicons.min.css}">-->
    <!--<link rel="stylesheet" href="../static/css/login.css" th:href="@{css/login.css}">-->
<!--</head>-->

<!--<body>-->
    <!--<div class="login-dark">-->
        <!--<form method="post">-->
            <!--<h2 class="sr-only">Login Form</h2>-->
            <!--<div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>-->
            <!--<div class="form-group">-->
                <!--<input class="form-control" type="text" id="name" required="" placeholder="Name">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<input class="form-control" type="password" id="password" required="" placeholder="Password">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<button id="login" class="btn btn-primary btn-block" type="submit">Sign in</button>-->
                <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script >-->
                <!--<script>-->
                    <!--$(document).ready(function(){-->
                        <!--$("#login").click(function() {-->
                            <!--var account = {-->
                                <!--custName : $("#name").val(),-->
                                <!--custPassword : $("#password").val()-->
                            <!--};-->
                            <!--var requestJSON = JSON.stringify(account);-->
                            <!--$.ajax({-->
                                <!--type : "POST",-->
                                <!--url : "http://localhost:8080/customers/login",-->
                                <!--headers : {-->
                                    <!--"Content-Type" : "application/json"-->
                                <!--},-->
                                <!--data : requestJSON,-->
                                <!--success : function(msg) {-->
                                    <!--if (msg == "success")-->
                                        <!--window.location.href="http://localhost:8080/index";-->
                                    <!--if (msg == "error")-->
                                        <!--window.location.href="http://localhost:8080/login";-->
                                <!--},-->
                                <!--error : function(data) {-->
                                    <!--alert("Error");-->
                                <!--}-->
                            <!--});-->
                        <!--});-->
                    <!--});-->
                <!--</script>-->
            <!--</div><a href="#" class="forgot">Create account</a></form>-->
    <!--</div>-->

<!--</body>-->

<!--</html>-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/login.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>
</body>
</html>
